{% load static %}


<section id="upper-part" >
    <div class="container display-flex-btwn padding-t-b">

        <div class="upper-left small-tex ">
            <p class="small-text">Bizim məsləhətlərə baxmadan heçnə almayın.</p>
        </div>

        <div class="upper-right ">
            <a href="" class="small-text register"><i class="fas fa-user"></i>Qeydiyyatdan keç</a>
            <a href="" class="small-text"><i class="fas fa-sign-in-alt"></i>Daxil ol</a>
        </div>
    </div>
</section>

<nav id="navbar">
    <div class="container  display-flex-btwn position-relative">
        <div class="logo">
            <img src="{%static 'img/logo.png'%}" alt="logo">
        </div>
        <div class="navbar-a">
            <div class="dropdown-cours">
                <a class="cours">Kurslar</a>
                <div class="dropdown-content">
                  <a href="#">Kurs 1</a>
                  <a href="#">Kurs 2</a>
                  <a href="#">Kurs 3</a>
                  <a href="#">Kurs 4</a>
                  <a href="#">Kurs 5</a>
                  <a href="#">Kurs 6</a>
                </div>
            </div>
            <div class="dropdown-cours">
                <a class="cours">Kitablar</a>
                <div class="dropdown-content">
                  <a href="#">Kitab 1</a>
                  <a href="#">Kitab 2</a>
                  <a href="#">Kitab 3</a>
                  <a href="#">Kitab 4</a>
                  <a href="#">Kitab 5</a>
                  <a href="#">Kitab 6</a>
                </div>
            </div>
            <div class="dropdown-cours">
                <a class="cours">Avtomobil</a>
                <div class="dropdown-content">
                  <a href="#">Avtomobil 1</a>
                  <a href="#">Avtomobil 2</a>
                  <a href="#">Avtomobil 3</a>
                  <a href="#">Avtomobil 4</a>
                  <a href="#">Avtomobil 5</a>
                  <a href="#">Avtomobil 6</a>
                </div>
            </div>
            <div class="dropdown-cours">
                <a class="cours">Şadlıq sarayları</a>
                <div class="dropdown-content">
                  <a href="#">Şadlıq sarayları 1</a>
                  <a href="#">Şadlıq sarayları 2</a>
                  <a href="#">Şadlıq sarayları 3</a>
                  <a href="#">Şadlıq sarayları 4</a>
                  <a href="#">Şadlıq sarayları 5</a>
                  <a href="#">Şadlıq sarayları 6</a>
                </div>
            </div>
            <div class="dropdown-cours">
                <a class="cours">Internet şəbəkələri</a>
                <div class="dropdown-content">
                  <a href="#">Internet şəbəkələri 1</a>
                  <a href="#">Internet şəbəkələri 2</a>
                  <a href="#">Internet şəbəkələri 3</a>
                  <a href="#">Internet şəbəkələri 4</a>
                  <a href="#">Internet şəbəkələri 5</a>
                  <a href="#">Internet şəbəkələri 6</a>
                </div>
            </div>
        </div>
        <div class="responsive-menu container-responsive">
            <a href="#" class=" border-black box-sizing-border-box" onclick="menu()"><i class="fas fa-bars" ></i></a>
        </div>
        <div id="hidden-menu" class="hide" >
            <ul class="hide">
                <li><a href="#">Kurslar</a></li>
                <li><a href="#">Kitablar</a></li>
                <li><a href="#">Ticaret Merkezleri</a></li>
                <li><a href="#">Eylence Mekanları</a></li>
                <li><a href="#">Restoran</a></li>
                <li><a href="#">Şadlıq sarayı</a></li>
             
                
            </ul>
            <ul>
                <li><a href="#">Planşet</a></li>
                <li><a href="#">Telefon</a></li>
                <li><a href="#">Masa Üstü</a></li>
                <li><a href="#">Notebook</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">Elektronika</a></li>
             
                
            </ul>
            <ul>
                <li><a href="#">Bmw</a></li>
                <li><a href="#">Mercedess</a></li>
                <li><a href="#">Renault</a></li>
                <li><a href="#">Nissan</a></li>
                <li><a href="#">Hyundai</a></li>
                <li><a href="#">Ford</a></li>
             
                
            </ul>
            <ul>
                <li><a href="#">Baki</a></li>
                <li><a href="#">Quba</a></li>
                <li><a href="#">Gəncə</a></li>
                <li><a href="#">Qax</a></li>
                <li><a href="#">Balakən</a></li>
                <li><a href="#">Qusar</a></li>
             
                
            </ul>
            <ul class="hide">
                <li><a href="#">Kontak Home</a></li>
                <li><a href="#">BakuElectronics</a></li>
                <li><a href="#">İrshad Telecom</a></li>
                <li><a href="#">Star</a></li>
                <li><a href="#">ABC</a></li>
                <li><a href="#">TestTelecom</a></li>
             
                
            </ul>
        </div>
    </div>

</nav>