{% extends "leyout.html" %}
{% load static %}
{% block import_hisse %}

<!-- Ataris bolmesi ve sekil -->

<section id="search">
    <div class="container search-h1-btn color-white">
        <h1>AXTARIŞ SİSTEMİ</h1>
        <p class="search-p">Maraq dairənizə uyğun xidmət və məhsulları buradan axtarın</p>
        <div class="input-and-btn">
            <input type="text" placeholder="" class="search-inp">
            <button class="btn">Axtar</button>
        </div>
    </div>
</section>


 <!-- Xidmetler  hissesi 2-sira 3 cerge olan -->
 <section id="services">
    <div class="service">
        <div class="container titles-text-aling-padding">
            <h3>Kateqoriyalar</h3>
            <p class="small-text">Məhsul və xidmətləri gözdən keçirin...</p>
        </div>
        <!-- xidmetler bolmesi -  2 hisseye ayrilib xidmetlerin daxilinde bolmeler ve saylari -->
            <div class="container ">
                <div class="row-service">
                <div class="categroe">
                    <i class="fas fa-tv small-text"></i>
                    <a href="#" class="catagorie-inner-tit small-text color-34">Elektron cihazlar</a>

                    <div class="row display-flex-btwn padding-top-15 ">
                        <a href="#" class="small-text color-34">Telefon</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn ">
                        <a href="#" class="small-text color-34">Planşet</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn ">
                        <a href="#" class="small-text color-34">TV</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn ">
                        <a href="#" class="small-text color-34">Elektronika ustaları</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                </div>
                <div class="categroe">
                    <i class="fas fa-tshirt small-text"></i>
                    <a href="#" class="catagorie-inner-tit small-text color-34">Geyim</a>

                    <div class="row display-flex-btwn padding-top-15">
                        <a href="#" class="small-text color-34">Geyim dükanları</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Brendlər</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">İnternet mağazalar</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Dərzi</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                </div>
                <div class="categroe">
                    <i class="fas fa-bicycle small-text"></i>
                    <a href="#" class="catagorie-inner-tit small-text color-34">İki təkər minik vasitələri</a>
                    <div class="row display-flex-btwn padding-top-15">
                        <a href="#" class="small-text color-34">Moped</a>
                        <div class="count color-white "><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Motosklet</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn ">
                        <a href="#" class="small-text color-34">Velisoped</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Ustalar</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row-service">
                <div class="categroe">
                    <i class="fas fa-heart small-text"></i>
                    <a href="#" class="catagorie-inner-tit small-text color-34">Sağlamlıq</a>

                    <div class="row display-flex-btwn padding-top-15">
                        <a href="#" class="small-text color-34">Həkimlər</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Klinikalar</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Dərmanlar</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Otlarla müaliçə</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                </div>
                <div class="categroe">
                    <i class="fas fa-home icon-absolute small-text"></i>
                    <a href="#" class="catagorie-inner-tit small-text color-34">Ev üçün</a>

                    <div class="row display-flex-btwn padding-top-15">
                        <a href="#" class="small-text color-34">Mətbəx üçün</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Yatağ otağı üçün</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Ev dizaynları</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Məişət ustaları</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                </div>
                <div class="categroe">
                    <i class="fas fa-futbol small-text"></i>
                    <a href="#" class="catagorie-inner-tit small-text color-34">İdman</a>

                    <div class="row display-flex-btwn padding-top-15">
                        <a href="#" class="small-text color-34">Voleybol</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Basketbol</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Futbol</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                    <div class="row display-flex-btwn">
                        <a href="#" class="small-text color-34">Tenis</a>
                        <div class="count color-white"><span class="row-count-b">0</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="services-2" >
    <div class="container titles-text-aling-padding" style="padding-top: 0px;">
        <h3>Ən son rəylər</h3>
        <p class="small-text">İstifadəcilərin ən çox rəy bildirdikləri mövzular</p>
    </div>
    <!-- En son reyler bolmesi 2 hisseli. Resm-h5-p-person images  -->
    <div class="service2-wrapper container">
        <div class="service2-wrapper-inner mr-20px">
            <div class="last-comment-and-section position-relative">
                <div class="stars">
                    <div class="text">
                        <span>Umumi</span>
                        <span>/</span>
                        <span>Reytinq</span>
                    </div>
                    <div class="icons">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    </div>
                </div>
                <img src="{% static 'img/idman.jpg' %}" alt="Sport" class="last-comment-and-section">
            </div>
            <div class="last-comment">
                <a href="#">Idman</a>
                <p class="small-text">Lorem, ipsum dolor sit lum aliquam, tempora accuinctio odio amet sit.</p>
               
                <div class="small-img-div">
                    <img src="{% static 'img/person1.jpg' %}" alt="Person Image" class="small-img">
                    <p class="name-user small-text">Mamed Mamedov</p>
                </div>
            </div>
        </div>
        <div class="service2-wrapper-inner ">
            <div class="last-comment-and-section position-relative">
                <div class="stars">
                    <div class="text">
                        <span>Umumi</span>
                        <span>/</span>
                        <span>Reytinq</span>
                    </div>
                    <div class="icons">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    </div>
                </div>
                
                <img src="{% static 'img/moto3.jpg'%}" alt="Motosklet" class="last-comment-and-section">
            </div>
            <div class="last-comment">
                <a href="#">Motosklet novleri</a>
                <p class="small-text">Lorem, ipsum dolor sit lum aliquam, tempora accuinctio odio amet sit.</p>
                <div class="small-img-div">
                    <img src="{% static 'img/person1.jpg'%}" alt="Person Image" class="small-img">
                    <p class="name-user small-text">Mamed Mamedov</p>
                </div>
            </div>
        </div>
    </div>
    <div class="service2-wrapper container">
        <div class="service2-wrapper-inner display-flex-btwn mr-20px">
            <div class="last-comment-and-section position-relative">
                <div class="stars">
                    <div class="text">
                        <span>Umumi</span>
                        <span>/</span>
                        <span>Reytinq</span>
                    </div>
                    <div class="icons">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    </div>
                </div>
            
                <img src="{% static 'img/aile.jpg'%}" alt="Aile" class="last-comment-and-section">
            </div>
            <div class="last-comment">
                <a href="#">Ailə</a>
                <p class="small-text">Lorem, ipsum dolor sit lum aliquam, tempora accuinctio odio amet sit.</p>
                <div class="small-img-div">
                    <img src="{% static 'img/person1.jpg'%}" alt="Person Image" class="small-img">
                    <p class="name-user small-text">Mamed Mamedov</p>
                </div>
            </div>
        </div>
        <div class="service2-wrapper-inner display-flex-btwn ">
            <div class="last-comment-and-section position-relative">
                <div class="stars">
                    <div class="text">
                        <span>Umumi</span>
                        <span>/</span>
                        <span>Reytinq</span>
                    </div>
                    <div class="icons">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    </div>
                </div>
                <img src="{% static 'img/truzim.jpg'%}" alt="Truzim" class="last-comment-and-section">
            </div>
            <div class="last-comment">
                <a href="#">Truzim</a>
                <p class="small-text">Lorem, ipsum dolor sit lum aliquam, tempora accuinctio odio amet sit.</p>
                <div class="small-img-div">
                    <img src="{% static 'img/person1.jpg'%}" alt="Person Image" class="small-img">
                    <p class="name-user small-text">Mamed Mamedov</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock import_hisse %}